.corner-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 70%;
    margin-right: 5rem;
}

.center{
    display: flex!important;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.intro_text{
    // font-size: 2rem;
    p{
        font-family: 'Open Sans';
        font-size: 20px;
    }
}

// p {
//     animation-name: change-color, grow-shrink, expand;
//     animation-duration: 8s, 5s, 5s;
//     animation-iteration-count: infinite;
  
//     font-family: Avenir;
//     font-size: 26px;
//     text-align: center;
//   }
  