
.corner-image{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    margin-right: 5rem;
    margin-bottom: 10rem;
}

.center{
    display: flex!important;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    .image{
        align-items: center;

    }
}

.intro_text{
    .mail{
        font-size: 15px;
    }
        font-size: 35px;
        font-family: 'Share Tech Mono';
}

.myname{
    font-weight: bold;
}

.title{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline wavy;
}



.top-sticker{
    position: absolute;
    top:0;
    left: 0;
    overflow: hidden;
    height: 500px;
    width: 500px;
    .triangle{
        position: absolute;
        top:0;
        left: 0;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid #555;
        border-bottom: 25px solid transparent;
        transform: rotate(170deg) scale(8);

    }
}

.bottom-sticker{
    position: absolute;
    bottom:0;
    right: 0;
    overflow: hidden;
    height: 500px;
    width: 500px;
    .triangle{
        position: absolute;
        bottom:1px;
        right: 0;
        width: 0;
        height: 0;
        border-top: 25px solid transparent;
        border-right: 50px solid #555;
        border-bottom: 25px solid transparent;
        transform: rotate(350deg) scale(8);    
    }
}

// p {
//     animation-name: change-color, grow-shrink, expand;
//     animation-duration: 8s, 5s, 5s;
//     animation-iteration-count: infinite;
  
//     font-family: Avenir;
//     font-size: 26px;
//     text-align: center;
//   }
  